// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

{
    font-size: 1rem;
    line-height: 1.6;
    font-family: -apple-system,BlinkMacSystemFont,'segoe ui',roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,'helvetica neue',sans-serif;
    font-weight: 400;
    background: #f7f9fb;
    box-sizing: border-box;
    min-height: 100%;
    overflow-x: hidden;
    width: 100%;
    -webkit-font-smoothing: antialiased;
}